# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# Database
db.sqlite3

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml
